@mixin before_circle {
    &:before {
        content: '';
        z-index: -1;
        top: -25%;
        left: -13px;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main_color;
    }
}
@mixin before_circle_card {
    &:before {
        content: '';
        z-index: -1;
        top: -4px;
        left: -16px;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main_color;
    }
}
@mixin divider {
    &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        bottom: 0;
        background: $main_color;
    }
}