.price {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px;
        display: grid;
        grid-template: 162px / repeat(2, 370px);
        justify-content: space-between;
    }
    &__item {
        margin-top: 20px;
        padding-left: 30px;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / 186px 121px;
        justify-content: space-between;
        row-gap: 5px;
    }
    &__title {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: $main_color;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__text {
        grid-column: 1/3;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &__summ {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        justify-self: end;
    }
}