.resume {
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__col {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main_color;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            top: 68px;
            height: 1px;
            width: 42px;
            position: absolute;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 55px;
            @include before_circle;
            img {
                position: absolute;
                left: 7px;
                top: 14px;
            }
        }
        &-location {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}