.skills {
    padding: 120px 11px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        gap: 13px;
    }
    &__item {
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-title {
            margin-top: 20px;
        }
        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__percent {
        margin-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        gap: 45px 30px;
    }
    &__block {
        display: grid;
        grid-template-rows: 36px 14px;
        row-gap: 20px;
        &-header {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            position: relative;
            padding-left: 13px;
            @include before_circle;
            &:before {
                top: -8px;
                left: 0;
            }
        }
    }
    &__bar {
        background: #E8E4DE;
        border-radius: 4px;
        &_load {
            background: $main_color;
            border-radius: 4px;
            height: 14px;
        }
    }
}